.btn {
  cursor: pointer;
  color: white;
  width: 200px;
  border: 1px solid #232743;
  position: relative;
  text-decoration: none;
  border-radius: 40px;
  overflow: hidden;
  padding: 3px;
  isolation: isolate;
}
.btn_name {
  font-size: 16px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  border-radius: 40px;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  /* background: linear-gradient(
    115deg,
    #00ff75,
    #3700ff,
    #a767e5,
    #12bcfe,
    #44ce7b
  ); */
  background-size: 25% 100%;
  animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
    0.75s linear infinite;
  animation-play-state: paused;
  translate: -5% 0%;
  transition: all 0.25s ease-out;
  opacity: 0;
}

.btn:hover::before {
  animation-play-state: running;
  transition-duration: 0.75s;
  translate: 0% 0%;
  opacity: 1;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
  to {
    transform: translateX(-25%);
  }
}

.btn .btn_span {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0px 0px 0 16px;
  background: #101224;
  border-radius: 40px;
  height: 100%;
}
